@page "/products"

@using Stocker.Data
@using StockerDB.Data.Stocker
@using System.Net.Http.Json
@using MudBlazor
@using Stocker.API

@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits OwningComponentBase<WarehouseProductsService>

<style>
    .badge {
        background-color: #54CF87;
        color: white;
        padding: 4px 8px;
        text-align: center;
        border-radius: 10px;
    }

    .row-selected {
        background-color: #1E88E5 !important;
    }
</style>

<PageTitle>Hulgilaod</PageTitle>

<!-- AuthorizeView allows us to only show sections of the page -->
<!-- based on the security on the current user -->
<AuthorizeView>
    <!-- Show this section if the user is logged in -->
    <Authorized>
        <MudBlazor.MudTable Items="filtered" Virtualize=false Height="calc(100vh - 240px)" OnRowClick="ShowBtnPress" T="Product"
        Dense=true FixedHeader=true Context="tableContext" Hover=true Elevation="5" Outlined=false Style="min-height: 100px" RowsPerPage="100"
        SortLabel="Sorteeri" Filter="new Func<Product,bool>(FilterFunc)" Loading="_loading" LoadingProgressColor="Color.Info">
            <ColGroup>
                <col />
                <col style="width: auto" />
                <col style="flex-wrap: nowrap" />
                <col style="flex-wrap: nowrap" />
            </ColGroup>

            <ToolBarContent>
                    <MudTextField @bind-Value="searchString" Placeholder="Otsi toodet" Adornment="Adornment.Start" Immediate=true
                                FullWidth=true AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium">
                    </MudTextField>
                    <MudIconButton Style="visibility: hidden" />
                    <MudChipSet MultiSelection="true" Style="display: flex; align-self: end" @bind-SelectedChips="selectedChips">
                        <MudChip Text="InStock" Default=true Variant="Variant.Text" Color="Color.Success" OnClick="FilterChips" Size="Size.Small">Laos</MudChip>
                        <MudChip Text="Incoming" Default=true Variant="Variant.Text" Color="Color.Warning" OnClick="FilterChips" Size="Size.Small">Saabumas</MudChip>
                        <MudChip Text="OutOfStock" Default=false Variant="Variant.Text" Color="Color.Error" OnClick="FilterChips" Size="Size.Small">Laost otsas</MudChip>
                        <MudChip Text="ESD" Default=false Variant="Variant.Text" Color="Color.Primary" OnClick="FilterChips" Size="Size.Small">ESD</MudChip>
                    </MudChipSet>
            </ToolBarContent>

            <HeaderContent>
                <MudTh Style="background-color: #3d6666; color: #FFFDFB; font-weight: 1000; border-radius: 0px; width: 200px"><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Product, object>(x=>x.PartNumber)">Tootekood</MudTableSortLabel></MudTh>
                <MudTh Style="background-color: #3d6666; color: #FFFDFB; font-weight: 1000"><MudTableSortLabel SortBy="new Func<Product, object>(x=>x.Description)">Kirjeldus</MudTableSortLabel></MudTh>
                <MudTh Style="background-color: #3d6666; color: #FFFDFB; width: 50px"><MudTableSortLabel Enabled=false SortBy="new Func<Product, object>(x=>x.TotalStockLocal)"></MudTableSortLabel></MudTh>
                <MudTh Style="background-color: #3d6666; color: #FFFDFB; font-weight: 1000; border-radius: 0px; width: 100px"><MudTableSortLabel SortBy="new Func<Product, object>(x=>x.PriceLocalMin)">Hind</MudTableSortLabel></MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudBlazor.MudTd class="cursor-pointer" DataLabel="Tootekood">
                    <MudText>
                        <MudHighlighter Text="@tableContext.PartNumber" HighlightedText="@searchString" Style="background-color: #FFFF0060" />
                    </MudText>
                </MudBlazor.MudTd>
                <MudBlazor.MudTd class="cursor-pointer" DataLabel="Kirjeldus">
                    <MudText>
                        <MudHighlighter Text="@tableContext.Description" HighlightedText="@searchString" Style="background-color: #FFFF0060" />
                    </MudText>
                </MudBlazor.MudTd>
                <MudBlazor.MudTd class="cursor-pointer" DataLabel="Laoseis" Style="vertical-align: central; text-align: center; font-weight: 500">
                    @if (tableContext.IsCarePack) {
                        <div class="badge">ESD</div>
                    } else if (tableContext.TotalStockLocal > 0) {
                        <MudTooltip Placement="Placement.Left" Delay="50" Color="Color.Dark">
                            <ChildContent>
                                <MudIcon Icon="@Icons.Material.TwoTone.ShoppingCart" Color="Color.Success" />
                            </ChildContent>
                            <TooltipContent>
                                <MudText Typo="Typo.inherit">
                                    Laos @(tableContext.TotalStockLocal)tk
                                </MudText>
                            </TooltipContent>
                        </MudTooltip>
                        
                    } else if (tableContext.IncomingStockQty > 0 || tableContext.IncomingStockEarliest != null) {
                        <MudTooltip Placement="Placement.Start" Delay="50" Color="Color.Dark">
                            <ChildContent>
                                <MudIcon Icon="@Icons.Material.TwoTone.ShoppingCartCheckout" Color="Color.Warning" />
                            </ChildContent>
                            <TooltipContent>
                                <MudText Typo="Typo.inherit">
                                    @if (tableContext.IncomingStockQty > 0) {
                                        <MudText Typo="Typo.inherit">@(tableContext.IncomingStockQty)tk </MudText>
                                    }
                                    @tableContext.IncomingStockEarliest.Value.ToString("yyyy-MM-dd")
                                </MudText>
                            </TooltipContent>
                        </MudTooltip>
                    } else if (tableContext.TotalStockLocal == 0) {
                        <MudTooltip Text="Laost otsas" Placement="Placement.Left" Delay="50" Color="Color.Dark" >
                            <MudIcon Icon="@Icons.Material.TwoTone.RemoveShoppingCart" Color="Color.Error" />
                        </MudTooltip>
                    }
                    </MudBlazor.MudTd>
                <MudBlazor.MudTd class="cursor-pointer" DataLabel="Hind" Style="text-align: right; white-space: nowrap; font-weight: 500">@tableContext.PriceLocalMin €</MudBlazor.MudTd>
            </RowTemplate>
            <ChildRowContent>
		        @if (tableContext.ID == showDetails)
				    {
                    <MudTr>
                    <td colspan="4">
	                <MudCard Square=true Outlined=true Style="background-color: #78A289">
	                    <MudCardContent>
	                        <MudTable Items="products.Where(x => x.PartNumber == tableContext.PartNumber).OrderBy(x => x.Price_Local)" Context="childContext" Hover="true" Elevation="0">
	                            <HeaderContent>
                                    <MudTh />
                                    <MudTh>Ladu</MudTh>
		                            <MudTh>Saadaval</MudTh>
		                            <MudTh>Tellitud kogus</MudTh>
		                            <MudTh>Saabuv kogus</MudTh>
		                            <MudTh>Hind</MudTh>
	                            </HeaderContent>
	                            <RowTemplate>
                                    <MudTd />
		                            <MudTd DataLabel="Ladu">@childContext.Warehouse</MudTd>
		                            <MudTd DataLabel="Saadaval">
                                        @if (childContext.Stock_Local > 0) {
                                            <MudText Typo="Typo.inherit">@childContext.Stock_Local</MudText>
                                        } else {
                                            <MudText>—</MudText>
                                        }
                                    </MudTd>
                                    <MudTd DataLabel="Tellitud kogus">
                                        @if ((childContext.Stock_Ordered ?? 0) == 0) {
                                            <MudText>—</MudText>
                                        }
										else {
                                            <MudText Typo="Typo.inherit">@childContext.Stock_Ordered</MudText>
                                        }
                                    </MudTd>
		                            <MudTd DataLabel="Saabuv kogus">
										@if ((childContext.Stock_Incoming ?? 0) == 0 && !childContext.Date_Incoming.HasValue) {
                                            <MudText>—</MudText>
                                        }
										else {
                                            @if (childContext.Stock_Incoming > 0){
                                                <MudText Typo="Typo.inherit">@(childContext.Stock_Incoming)tk </MudText>
                                            }

                                            @if (childContext.Date_Incoming.HasValue) {
                                                <MudText Typo="Typo.inherit">@childContext.Date_Incoming.Value.ToString("yyyy-MM-dd")</MudText>
                                            }
                                        }
                                    </MudTd>
                                    <MudTd DataLabel="Hind">
                                        <MudText Typo="Typo.inherit">@childContext.Price_Local €</MudText>
                                    </MudTd>
	                            </RowTemplate>
	                        </MudTable>
	                    </MudCardContent>
	                </MudCard>
                    </td>
                    </MudTr>
		            }
	        </ChildRowContent>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[]{50, 100}"  HideRowsPerPage=true InfoFormat="{first_item}-{last_item} (kokku {all_items})"/>
            </PagerContent>
        </MudBlazor.MudTable>
    </Authorized>

    <!-- Show this section if the user is not logged in -->
    <NotAuthorized>
        @{
            NavManager.NavigateTo($"Identity/Account/Login");
        }
        @{
            var returnUrl = NavManager.ToBaseRelativePath(NavManager.Uri);
            <_RedirectToLogin ReturnUrl="@returnUrl" />
        }
    </NotAuthorized>
</AuthorizeView>